/* movil.css */

/* Ajustes generales para dispositivos móviles */
body {
    font-size: 14px; /* Reducir el tamaño de fuente para mejorar la legibilidad */
  }
  
  .logo-image2 {
    max-width: 100%;
    height: auto;
  }
  
  .product-section {
    padding: 10px; /* Espaciado interno reducido */
  }
  
  /* Ajustes específicos para dispositivos móviles usando media queries */
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .payment-option {
      text-align: center;
      margin-bottom: 20px;
    }
  
    /* Ajustes de tamaño de imagen y margen para imágenes */
    .venta,
    .pago_,
    .devolucion {
      width: 80%; /* Ajustar el tamaño de la imagen */
      margin: 0 auto; /* Centrar la imagen */
    }
  
    .titulo,
    .titulo3 {
      margin: 10px 0; /* Espaciado reducido para los títulos */
    }
  }
  