.alineacion {
  display: flex;
  flex-direction: column; /* Cambia la direcci칩n a columna */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.opciones {
  text-align: center; /* Alinea el contenido al centro horizontal */
  margin: 20px 0; /* Espaciado vertical entre los botones */
}

.payment-option a {
  text-decoration: none;
  display: block; /* Cambia a bloque para que ocupen todo el ancho */
}

.imagenVenta {
  width: 10px; /* Ajusta el tama침o de las im치genes */
  height: auto;
  margin: 0 auto; /* Centra las im치genes horizontalmente */
}

